In [1]:
import numpy as np
import pandas as pd

In [7]:
url = 'https://raw.githubusercontent.com/kulraghav/MLPractice/master/MLPipeline/Data/spam.csv'

df = pd.read_csv(url, encoding='Latin')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [11]:
df = df[['v1', 'v2']]
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
df.columns = ['class', 'text']
df.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
df.drop_duplicates(subset='text', inplace=True)
df.groupby('class').count()

       text
class
ham    4516
spam    653

In [26]:
from sklearn.model_selection import train_test_split

X = df['text']
y = df['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

print(X.shape, X_train.shape, X_test.shape)

(5169,) (3876,) (1293,)

(5169,) (3876,) (1293,)
(5169,) (3876,) (1293,)